.home-container {
  text-align: center;
  padding: 10px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-title {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.home-description {
  font-size: 1.2rem;
  margin-bottom: 30px;
  max-width: 500px;
}

